<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bulls and Cows - Secret Mode</title>

        <link rel="stylesheet" href="/static/guess_mode.css" />
        <link rel="stylesheet" href="/static/secret_mode.css" />

        <script src="/static/number-launcher.js"></script>
        <script src="/static/gravity-slider.js"></script>
        <script src="/static/tricky-button.js"></script>
    </head>
    <body>
        <header>
            <a href="/guess_mode">Guess mode</a>

            <h1 class="title">Bulls and Cows</h1>

            <a style="color: wheat; cursor: default">Secret mode</a>
        </header>

        <h2 class="sub-title">Secret Mode</h2>

        <h3 class="guessed_word" id="currentWord">Connecting...</h3>

        <div class="bulls_cows_container">
            <div class="personal_container">
                <h3 class="guessed_word">Bulls</h3>
                <number-launcher id="bullsInput"></number-launcher>
            </div>

            <div class="personal_container">
                <h3 class="guessed_word">Cows</h3>
                <div class="wrapper">
                    <gravity-slider id="myGravityInput"></gravity-slider>
                </div>
            </div>
        </div>

        <div class="action-container">
            <tricky-button id="sendBtn" escapes="20" style="width: 800px; height: 500px;">
    </tricky-button>
        </div>




        <script src="/static/game.js"></script>
    </body>
</html>